# Numpy

In [2]:
# this is Numerical Python 
# it provides us with functionality such as 

# numpy arrays 
# matrix like representations 
# random number generation

In [3]:
# installation 
# pip install numpy / conda install numpy

In [4]:
import numpy

In [6]:
print(dir(numpy))

['ALLOW_THREADS', 'AxisError', 'BUFSIZE', 'Bytes0', 'CLIP', 'ComplexWarning', 'DataSource', 'Datetime64', 'ERR_CALL', 'ERR_DEFAULT', 'ERR_IGNORE', 'ERR_LOG', 'ERR_PRINT', 'ERR_RAISE', 'ERR_WARN', 'FLOATING_POINT_SUPPORT', 'FPE_DIVIDEBYZERO', 'FPE_INVALID', 'FPE_OVERFLOW', 'FPE_UNDERFLOW', 'False_', 'Inf', 'Infinity', 'MAXDIMS', 'MAY_SHARE_BOUNDS', 'MAY_SHARE_EXACT', 'MachAr', 'ModuleDeprecationWarning', 'NAN', 'NINF', 'NZERO', 'NaN', 'PINF', 'PZERO', 'RAISE', 'RankWarning', 'SHIFT_DIVIDEBYZERO', 'SHIFT_INVALID', 'SHIFT_OVERFLOW', 'SHIFT_UNDERFLOW', 'ScalarType', 'Str0', 'Tester', 'TooHardError', 'True_', 'UFUNC_BUFSIZE_DEFAULT', 'UFUNC_PYVALS_NAME', 'Uint64', 'VisibleDeprecationWarning', 'WRAP', '_NoValue', '_UFUNC_API', '__NUMPY_SETUP__', '__all__', '__builtins__', '__cached__', '__config__', '__deprecated_attrs__', '__dir__', '__doc__', '__expired_functions__', '__file__', '__getattr__', '__git_version__', '__loader__', '__mkl_version__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_add_newdoc_ufunc', '_distributor_init', '_financial_names', '_globals', '_mat', '_pytesttester', '_version', 'abs', 'absolute', 'add', 'add_docstring', 'add_newdoc', 'add_newdoc_ufunc', 'alen', 'all', 'allclose', 'alltrue', 'amax', 'amin', 'angle', 'any', 'append', 'apply_along_axis', 'apply_over_axes', 'arange', 'arccos', 'arccosh', 'arcsin', 'arcsinh', 'arctan', 'arctan2', 'arctanh', 'argmax', 'argmin', 'argpartition', 'argsort', 'argwhere', 'around', 'array', 'array2string', 'array_equal', 'array_equiv', 'array_repr', 'array_split', 'array_str', 'asanyarray', 'asarray', 'asarray_chkfinite', 'ascontiguousarray', 'asfarray', 'asfortranarray', 'asmatrix', 'asscalar', 'atleast_1d', 'atleast_2d', 'atleast_3d', 'average', 'bartlett', 'base_repr', 'binary_repr', 'bincount', 'bitwise_and', 'bitwise_not', 'bitwise_or', 'bitwise_xor', 'blackman', 'block', 'bmat', 'bool8', 'bool_', 'broadcast', 'broadcast_arrays', 'broadcast_shapes', 'broadcast_to', 'busday_count', 'busday_offset', 'busdaycalendar', 'byte', 'byte_bounds', 'bytes0', 'bytes_', 'c_', 'can_cast', 'cast', 'cbrt', 'cdouble', 'ceil', 'cfloat', 'char', 'character', 'chararray', 'choose', 'clip', 'clongdouble', 'clongfloat', 'column_stack', 'common_type', 'compare_chararrays', 'compat', 'complex128', 'complex64', 'complex_', 'complexfloating', 'compress', 'concatenate', 'conj', 'conjugate', 'convolve', 'copy', 'copysign', 'copyto', 'core', 'corrcoef', 'correlate', 'cos', 'cosh', 'count_nonzero', 'cov', 'cross', 'csingle', 'ctypeslib', 'cumprod', 'cumproduct', 'cumsum', 'datetime64', 'datetime_as_string', 'datetime_data', 'deg2rad', 'degrees', 'delete', 'deprecate', 'deprecate_with_doc', 'diag', 'diag_indices', 'diag_indices_from', 'diagflat', 'diagonal', 'diff', 'digitize', 'disp', 'divide', 'divmod', 'dot', 'double', 'dsplit', 'dstack', 'dtype', 'e', 'ediff1d', 'einsum', 'einsum_path', 'emath', 'empty', 'empty_like', 'equal', 'errstate', 'euler_gamma', 'exp', 'exp2', 'expand_dims', 'expm1', 'extract', 'eye', 'fabs', 'fastCopyAndTranspose', 'fft', 'fill_diagonal', 'find_common_type', 'finfo', 'fix', 'flatiter', 'flatnonzero', 'flexible', 'flip', 'fliplr', 'flipud', 'float16', 'float32', 'float64', 'float_', 'float_power', 'floating', 'floor', 'floor_divide', 'fmax', 'fmin', 'fmod', 'format_float_positional', 'format_float_scientific', 'format_parser', 'frexp', 'frombuffer', 'fromfile', 'fromfunction', 'fromiter', 'frompyfunc', 'fromregex', 'fromstring', 'full', 'full_like', 'gcd', 'generic', 'genfromtxt', 'geomspace', 'get_array_wrap', 'get_include', 'get_printoptions', 'getbufsize', 'geterr', 'geterrcall', 'geterrobj', 'gradient', 'greater', 'greater_equal', 'half', 'hamming', 'hanning', 'heaviside', 'histogram', 'histogram2d', 'histogram_bin_edges', 'histogramdd', 'hsplit', 'hstack', 'hypot', 'i0', 'identity', 'iinfo', 'imag', 'in1d', 'index_exp', 'indices', 'inexact', 'inf', 'info', 'infty', 'inner', 'insert', 'int0', 'int16', 'int32', 'int64', 'int8', 'int_', 'intc', 'integer', 'interp', 'intersect1d', 'intp', 'invert', 'is_busday', 'isclose', 'iscomplex', 'iscomplexobj', 'isfinite', 'isfortran', 'isin', 'isinf', 'isnan', 'isnat', 'isneginf', 'isposinf', 'isreal', 'isrealobj', 'isscalar', 'issctype', 'issubclass_', 'issubdtype', 'issubsctype', 'iterable', 'ix_', 'kaiser', 'kron', 'lcm', 'ldexp', 'left_shift', 'less', 'less_equal', 'lexsort', 'lib', 'linalg', 'linspace', 'little_endian', 'load', 'loads', 'loadtxt', 'log', 'log10', 'log1p', 'log2', 'logaddexp', 'logaddexp2', 'logical_and', 'logical_not', 'logical_or', 'logical_xor', 'logspace', 'longcomplex', 'longdouble', 'longfloat', 'longlong', 'lookfor', 'ma', 'mafromtxt', 'mask_indices', 'mat', 'math', 'matmul', 'matrix', 'matrixlib', 'max', 'maximum', 'maximum_sctype', 'may_share_memory', 'mean', 'median', 'memmap', 'meshgrid', 'mgrid', 'min', 'min_scalar_type', 'minimum', 'mintypecode', 'mkl', 'mod', 'modf', 'moveaxis', 'msort', 'multiply', 'nan', 'nan_to_num', 'nanargmax', 'nanargmin', 'nancumprod', 'nancumsum', 'nanmax', 'nanmean', 'nanmedian', 'nanmin', 'nanpercentile', 'nanprod', 'nanquantile', 'nanstd', 'nansum', 'nanvar', 'nbytes', 'ndarray', 'ndenumerate', 'ndfromtxt', 'ndim', 'ndindex', 'nditer', 'negative', 'nested_iters', 'newaxis', 'nextafter', 'nonzero', 'not_equal', 'numarray', 'number', 'obj2sctype', 'object0', 'object_', 'ogrid', 'oldnumeric', 'ones', 'ones_like', 'os', 'outer', 'packbits', 'pad', 'partition', 'percentile', 'pi', 'piecewise', 'place', 'poly', 'poly1d', 'polyadd', 'polyder', 'polydiv', 'polyfit', 'polyint', 'polymul', 'polynomial', 'polysub', 'polyval', 'positive', 'power', 'printoptions', 'prod', 'product', 'promote_types', 'ptp', 'put', 'put_along_axis', 'putmask', 'quantile', 'r_', 'rad2deg', 'radians', 'random', 'ravel', 'ravel_multi_index', 'real', 'real_if_close', 'rec', 'recarray', 'recfromcsv', 'recfromtxt', 'reciprocal', 'record', 'remainder', 'repeat', 'require', 'reshape', 'resize', 'result_type', 'right_shift', 'rint', 'roll', 'rollaxis', 'roots', 'rot90', 'round', 'round_', 'row_stack', 's_', 'safe_eval', 'save', 'savetxt', 'savez', 'savez_compressed', 'sctype2char', 'sctypeDict', 'sctypes', 'searchsorted', 'select', 'set_numeric_ops', 'set_printoptions', 'set_string_function', 'setbufsize', 'setdiff1d', 'seterr', 'seterrcall', 'seterrobj', 'setxor1d', 'shape', 'shares_memory', 'short', 'show_config', 'sign', 'signbit', 'signedinteger', 'sin', 'sinc', 'single', 'singlecomplex', 'sinh', 'size', 'sometrue', 'sort', 'sort_complex', 'source', 'spacing', 'split', 'sqrt', 'square', 'squeeze', 'stack', 'std', 'str0', 'str_', 'string_', 'subtract', 'sum', 'swapaxes', 'sys', 'take', 'take_along_axis', 'tan', 'tanh', 'tensordot', 'test', 'testing', 'tile', 'timedelta64', 'trace', 'tracemalloc_domain', 'transpose', 'trapz', 'tri', 'tril', 'tril_indices', 'tril_indices_from', 'trim_zeros', 'triu', 'triu_indices', 'triu_indices_from', 'true_divide', 'trunc', 'typecodes', 'typename', 'ubyte', 'ufunc', 'uint', 'uint0', 'uint16', 'uint32', 'uint64', 'uint8', 'uintc', 'uintp', 'ulonglong', 'unicode_', 'union1d', 'unique', 'unpackbits', 'unravel_index', 'unsignedinteger', 'unwrap', 'use_hugepage', 'ushort', 'vander', 'var', 'vdot', 'vectorize', 'version', 'void', 'void0', 'vsplit', 'vstack', 'warnings', 'where', 'who', 'zeros', 'zeros_like']

### basic usage

In [8]:
list1 = [1,2,3,4,5,6]

arr = numpy.array(list1)

In [9]:
print(list1)

[1, 2, 3, 4, 5, 6]

In [10]:
print(arr)

[1 2 3 4 5 6]

In [11]:
print(type(list1), type(arr))

<class 'list'> <class 'numpy.ndarray'>

In [13]:
arr[-1]

6

#### speed of numpy arrays

In [18]:
from timeit import Timer # timer

Nelements = 10000
Ntimeits = 10000

x = numpy.arange(Nelements)
y = range(Nelements)

print(x)
print('*'*35)
print(y)

[   0    1    2 ... 9997 9998 9999]
***********************************
range(0, 10000)

In [21]:
# Do a sum over the list and the numpy array 

t_numpy = Timer("x.sum()","from __main__ import x")
t_list = Timer("sum(y)","from __main__ import y")

print("numpy: %.3e" % (t_numpy.timeit(Ntimeits)/Ntimeits))
print("list: %.3e" % (t_list.timeit(Ntimeits)/Ntimeits))

numpy: 1.184e-05
list: 2.364e-04

In [22]:
x.sum()

49995000

In [24]:
sum(y)

49995000

### Numpy Dimensions

#### 0-D Array

In [25]:
age = 45

arr0d = numpy.array(age)

print(arr0d, type(arr0d))

45 <class 'numpy.ndarray'>

### 1-D Array

In [26]:
arr1d = numpy.array(list1)

print(arr1d, type(arr1d))

[1 2 3 4 5 6] <class 'numpy.ndarray'>

### 2-D Array

In [28]:
list2 = [[1,2,3,4],[5,6,7,8]]

arr2d = numpy.array(list2)

print(arr2d, type(arr2d), arr2d.shape)

[[1 2 3 4]
 [5 6 7 8]] <class 'numpy.ndarray'> (2, 4)

In [30]:
# use numpy.arange to create a range 
# of numbers

nos = numpy.arange(10)

print(nos, type(nos))

[0 1 2 3 4 5 6 7 8 9] <class 'numpy.ndarray'>

In [34]:
# optional args for the starting point 
# and step size

nos = numpy.arange(0,20,2)

print(nos, type(nos))

[ 0  2  4  6  8 10 12 14 16 18] <class 'numpy.ndarray'>

In [36]:
# is this array 1-D or 2-D ?

numpy.linspace(1,11,100)

array([ 1.        ,  1.1010101 ,  1.2020202 ,  1.3030303 ,  1.4040404 ,
        1.50505051,  1.60606061,  1.70707071,  1.80808081,  1.90909091,
        2.01010101,  2.11111111,  2.21212121,  2.31313131,  2.41414141,
        2.51515152,  2.61616162,  2.71717172,  2.81818182,  2.91919192,
        3.02020202,  3.12121212,  3.22222222,  3.32323232,  3.42424242,
        3.52525253,  3.62626263,  3.72727273,  3.82828283,  3.92929293,
        4.03030303,  4.13131313,  4.23232323,  4.33333333,  4.43434343,
        4.53535354,  4.63636364,  4.73737374,  4.83838384,  4.93939394,
        5.04040404,  5.14141414,  5.24242424,  5.34343434,  5.44444444,
        5.54545455,  5.64646465,  5.74747475,  5.84848485,  5.94949495,
        6.05050505,  6.15151515,  6.25252525,  6.35353535,  6.45454545,
        6.55555556,  6.65656566,  6.75757576,  6.85858586,  6.95959596,
        7.06060606,  7.16161616,  7.26262626,  7.36363636,  7.46464646,
        7.56565657,  7.66666667,  7.76767677,  7.86868687,  7.96969697,
        8.07070707,  8.17171717,  8.27272727,  8.37373737,  8.47474747,
        8.57575758,  8.67676768,  8.77777778,  8.87878788,  8.97979798,
        9.08080808,  9.18181818,  9.28282828,  9.38383838,  9.48484848,
        9.58585859,  9.68686869,  9.78787879,  9.88888889,  9.98989899,
       10.09090909, 10.19191919, 10.29292929, 10.39393939, 10.49494949,
       10.5959596 , 10.6969697 , 10.7979798 , 10.8989899 , 11.        ])

### Arithmetic operations on numpy array

In [37]:
import numpy as np 

arr = np.arange(0,11)
arr2 = np.arange(0,21,2)

In [38]:
print(arr,'\n',arr2)

[ 0  1  2  3  4  5  6  7  8  9 10]
 [ 0  2  4  6  8 10 12 14 16 18 20]

In [39]:
arr + 2

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [40]:
print(arr / 2)

[0.  0.5 1.  1.5 2.  2.5 3.  3.5 4.  4.5 5. ]

In [41]:
arr2 > 2

array([False, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

In [42]:
arr + arr2

array([ 0,  3,  6,  9, 12, 15, 18, 21, 24, 27, 30])

In [43]:
print(arr.size, arr2.size)

11 11

In [44]:
arr3 = np.array([[2,4,6,8],[1,2,3,4]])

In [45]:
arr2 + arr3

ValueError: operands could not be broadcast together with shapes (11,) (2,4)

# PANDAS

Pandas - Python for data analysis

### basic usage

In [47]:
# create columns - pandas series 
# create tables - pandas dataframes 
# import files 
# save files

In [48]:
# functions and methods for data preview,
# data cleaning, transformation, summarization 
# exploratory data analysis, plotting etc.

In [49]:
# installation
# pip install pandas / conda install pandas

In [50]:
import numpy as np
import pandas as pd

In [52]:
print(dir(pd))

['BooleanDtype', 'Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Flags', 'Float32Dtype', 'Float64Dtype', 'Float64Index', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int64Index', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NA', 'NaT', 'NamedAgg', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseDtype', 'StringDtype', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt64Index', 'UInt8Dtype', '__builtins__', '__cached__', '__doc__', '__docformat__', '__file__', '__getattr__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_config', '_hashtable', '_is_numpy_dev', '_lib', '_libs', '_np_version_under1p18', '_testing', '_tslib', '_typing', '_version', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'describe_option', 'errors', 'eval', 'factorize', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'read_xml', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']

# create a pandas series

In [53]:
s = pd.Series([2,3,4,5,np.nan,6,7])

In [54]:
print(s)

0    2.0
1    3.0
2    4.0
3    5.0
4    NaN
5    6.0
6    7.0
dtype: float64

# Dataframe

In [57]:
arr = np.floor(np.random.randn(6,4) * 10)
arr

array([[  2., -16.,  -2., -18.],
       [  0.,  11., -10.,  -1.],
       [ -5.,   6., -21., -13.],
       [-10.,   0.,   6.,   1.],
       [ -6.,  -6.,   6., -11.],
       [ 16.,  -8., -22., -12.]])

In [59]:
df = pd.DataFrame(arr)
df

      0     1     2     3
0   2.0 -16.0  -2.0 -18.0
1   0.0  11.0 -10.0  -1.0
2  -5.0   6.0 -21.0 -13.0
3 -10.0   0.0   6.0   1.0
4  -6.0  -6.0   6.0 -11.0
5  16.0  -8.0 -22.0 -12.0

In [60]:
# update the dataframe with column headers 
# and indexs

In [61]:
# create a date range 
dates = pd.date_range("20220425", periods=6)
dates

DatetimeIndex(['2022-04-25', '2022-04-26', '2022-04-27', '2022-04-28',
               '2022-04-29', '2022-04-30'],
              dtype='datetime64[ns]', freq='D')

In [62]:
# new dataframe 

df1 = pd.DataFrame(arr, index=dates,
                   columns=['A','B','C','D'])

df1

               A     B     C     D
2022-04-25   2.0 -16.0  -2.0 -18.0
2022-04-26   0.0  11.0 -10.0  -1.0
2022-04-27  -5.0   6.0 -21.0 -13.0
2022-04-28 -10.0   0.0   6.0   1.0
2022-04-29  -6.0  -6.0   6.0 -11.0
2022-04-30  16.0  -8.0 -22.0 -12.0

# Import survey data

### data was obtained from a survey administered via google forms 
### the result was downloaded in csv format

In [2]:
import numpy as np
import pandas as pd

In [3]:
pd.read_csv('./datasets/survey.csv')

,Timestamp,First Name,Gender,Hair Color,Country,Occupation
0,2022/04/25 12:55:47 PM GMT+1,Samuel,Male,Black,Ghana,Jobless
1,2022/04/25 12:56:07 PM GMT+1,Basit,Male,Black,Nigeria,Businessman
2,2022/04/25 12:56:11 PM GMT+1,Ayomide,Male,Black,Nigeria,Student
3,2022/04/25 12:56:21 PM GMT+1,Bolaji,Male,Black,Nigeria,Self Employee
4,2022/04/25 12:56:21 PM GMT+1,oluwagbenga,Male,Black,nigeria,student
5,2022/04/25 12:56:22 PM GMT+1,Mike,Male,Black,Nigerian,Freelancer
6,2022/04/25 12:56:33 PM GMT+1,CHIJIOKE,Male,Black,Nigeria,Data Scientist
7,2022/04/25 12:56:42 PM GMT+1,Eze Odera,Male,Black,Nigeria,Student
8,2022/04/25 12:56:46 PM GMT+1,Oluwaponmile,Female,Black,Nigeria,Data Analyst
9,2022/04/25 12:56:47 PM GMT+1,EBERE,Male,Black,Nigeria,Financial consultant
10,2022/04/25 12:56:53 PM GMT+1,Ehinome,Male,Black,Nigeria,Petroleum Engineer
11,2022/04/25 12:57:07 PM GMT+1,Choppa,Prefer not to say,NaN,Nig,DA
12,2022/04/25 12:57:19 PM GMT+1,Chijioke,Male,Black,Nigeria,Data Scientist
13,2022/04/25 12:57:39 PM GMT+1,Adetunji,Male,Black,Nigeria,Student
14,2022/04/25 12:57:43 PM GMT+1,Viche,Male,Black,Nigeria,Snooker player
15,2022/04/25 12:57:50 PM GMT+1,Awesome,Male,BlackBrown,UAR,OAP
16,2022/04/25 12:57:52 PM GMT+1,Muhammad Abdussamad,Male,Black,Nigeria,Student
17,2022/04/25 12:58:26 PM GMT+1,Blessing,Female,Black,Nigerian,NYSC
18,2022/04/25 12:58:49 PM GMT+1,Gabriel,Male,Black,American,Senior Data Analyst
19,2022/04/25 12:59:29 PM GMT+1,Omotayo,Female,Brown,Nigeria,ChefT
20,2022/04/25 12:59:31 PM GMT+1,Usifo,Male,Black,Nigeria,Data
21,2022/04/25 1:00:35 PM GMT+1,Sodiq,Male,Black,Nigeria,H.R Officer
22,2022/04/25 1:01:42 PM GMT+1,Maryann,Female,Brown,Nigeria,Data Analyst
23,2022/04/25 1:03:36 PM GMT+1,Matthew,Male,Black,Nigeria,Self Employed
24,2022/04/25 1:04:13 PM GMT+1,Ayomide,Male,Black,Nigeria,Student
25,2022/04/25 1:08:46 PM GMT+1,OYENIYI,Male,Black,NIGERIA,DATA ANALYST
26,2022/04/25 1:24:06 PM GMT+1,Oladayo,Male,Black,Nigeria,Data Analyst
27,2022/04/25 1:43:21 PM GMT+1,AJAYI,Male,Black,Nigeria,Public servant
28,2022/04/25 3:47:21 PM GMT+1,Chibueze,Male,Black,Nigeria,Banking
29,2022/04/25 7:24:26 PM GMT+1,ALLEN,Male,Black,Nigeria,CONTENT DEVELOPER
30,2022/04/25 7:44:50 PM GMT+1,Shileola,Male,Black,Nigeria,Data Analyst
31,2022/04/25 10:13:39 PM GMT+1,Olusegun,Male,Black,Nigeria,Teaching

In [10]:
survey = pd.read_csv('./datasets/survey.csv')

In [11]:
survey.head(3)

,Timestamp,First Name,Gender,Hair Color,Country,Occupation
0,2022/04/25 12:55:47 PM GMT+1,Samuel,Male,Black,Ghana,Jobless
1,2022/04/25 12:56:07 PM GMT+1,Basit,Male,Black,Nigeria,Businessman
2,2022/04/25 12:56:11 PM GMT+1,Ayomide,Male,Black,Nigeria,Student

# import excel file

In [9]:
url = './datasets/Super+Store+Data.xlsx'

store_sales = pd.read_excel(url)

In [10]:
store_sales

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

# import a json file

In [11]:
url = './datasets/users.json'

df = pd.read_json(url)

df

,id,name,username,email,address,phone,website,company
0,1,Leanne Graham,Bret,Sincere@april.biz,"{'street': 'Kulas Light', 'suite': 'Apt. 556',...",1-770-736-8031 x56442,hildegard.org,"{'name': 'Romaguera-Crona', 'catchPhrase': 'Mu..."
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,"{'street': 'Victor Plains', 'suite': 'Suite 87...",010-692-6593 x09125,anastasia.net,"{'name': 'Deckow-Crist', 'catchPhrase': 'Proac..."
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,"{'street': 'Douglas Extension', 'suite': 'Suit...",1-463-123-4447,ramiro.info,"{'name': 'Romaguera-Jacobson', 'catchPhrase': ..."
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,"{'street': 'Hoeger Mall', 'suite': 'Apt. 692',...",493-170-9623 x156,kale.biz,"{'name': 'Robel-Corkery', 'catchPhrase': 'Mult..."
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,"{'street': 'Skiles Walks', 'suite': 'Suite 351...",(254)954-1289,demarco.info,"{'name': 'Keebler LLC', 'catchPhrase': 'User-c..."
5,6,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,"{'street': 'Norberto Crossing', 'suite': 'Apt....",1-477-935-8478 x6430,ola.org,"{'name': 'Considine-Lockman', 'catchPhrase': '..."
6,7,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,"{'street': 'Rex Trail', 'suite': 'Suite 280', ...",210.067.6132,elvis.io,"{'name': 'Johns Group', 'catchPhrase': 'Config..."
7,8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,"{'street': 'Ellsworth Summit', 'suite': 'Suite...",586.493.6943 x140,jacynthe.com,"{'name': 'Abernathy Group', 'catchPhrase': 'Im..."
8,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,"{'street': 'Dayna Park', 'suite': 'Suite 449',...",(775)976-6794 x41206,conrad.com,"{'name': 'Yost and Sons', 'catchPhrase': 'Swit..."
9,10,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,"{'street': 'Kattie Turnpike', 'suite': 'Suite ...",024-648-3804,ambrose.net,"{'name': 'Hoeger LLC', 'catchPhrase': 'Central..."

# import from a website

In [12]:
# using pandas, read_html or read_table

In [1]:
import pandas as pd 
url = 'https://en.wikipedia.org/wiki/Body_mass_index'

df = pd.read_html(url)

In [3]:
len(df) # 10 tables were extracted from the website

10

In [7]:
bmi = df[2]

In [8]:
bmi

                          Category BMI (kg/m2)[c] BMI Prime[c]
0    Underweight (Severe thinness)         < 16.0       < 0.64
1  Underweight (Moderate thinness)    16.0 – 16.9  0.64 – 0.67
2      Underweight (Mild thinness)    17.0 – 18.4  0.68 – 0.73
3                     Normal range    18.5 – 24.9  0.74 – 0.99
4           Overweight (Pre-obese)    25.0 – 29.9  1.00 – 1.19
5                  Obese (Class I)    30.0 – 34.9  1.20 – 1.39
6                 Obese (Class II)    35.0 – 39.9  1.40 – 1.59
7                Obese (Class III)         ≥ 40.0       ≥ 1.60

# Edit our survey file and save a new copy

In [13]:
survey.shape

(32, 6)

In [14]:
survey.head()

,Timestamp,First Name,Gender,Hair Color,Country,Occupation
0,2022/04/25 12:55:47 PM GMT+1,Samuel,Male,Black,Ghana,Jobless
1,2022/04/25 12:56:07 PM GMT+1,Basit,Male,Black,Nigeria,Businessman
2,2022/04/25 12:56:11 PM GMT+1,Ayomide,Male,Black,Nigeria,Student
3,2022/04/25 12:56:21 PM GMT+1,Bolaji,Male,Black,Nigeria,Self Employee
4,2022/04/25 12:56:21 PM GMT+1,oluwagbenga,Male,Black,nigeria,student

In [15]:
survey.head(3)

,Timestamp,First Name,Gender,Hair Color,Country,Occupation
0,2022/04/25 12:55:47 PM GMT+1,Samuel,Male,Black,Ghana,Jobless
1,2022/04/25 12:56:07 PM GMT+1,Basit,Male,Black,Nigeria,Businessman
2,2022/04/25 12:56:11 PM GMT+1,Ayomide,Male,Black,Nigeria,Student

In [16]:
# bottom rows

survey.tail()

,Timestamp,First Name,Gender,Hair Color,Country,Occupation
27,2022/04/25 1:43:21 PM GMT+1,AJAYI,Male,Black,Nigeria,Public servant
28,2022/04/25 3:47:21 PM GMT+1,Chibueze,Male,Black,Nigeria,Banking
29,2022/04/25 7:24:26 PM GMT+1,ALLEN,Male,Black,Nigeria,CONTENT DEVELOPER
30,2022/04/25 7:44:50 PM GMT+1,Shileola,Male,Black,Nigeria,Data Analyst
31,2022/04/25 10:13:39 PM GMT+1,Olusegun,Male,Black,Nigeria,Teaching

In [20]:
survey.Gender.unique()

array(['Male', 'Female', 'Prefer not to say'], dtype=object)

In [21]:
survey.columns

Index(['Timestamp', 'First Name', 'Gender', 'Hair Color', 'Country',
       'Occupation'],
      dtype='object')

In [24]:
males = survey[survey.Gender == 'Male']

In [26]:
males.head(2)

,Timestamp,First Name,Gender,Hair Color,Country,Occupation
0,2022/04/25 12:55:47 PM GMT+1,Samuel,Male,Black,Ghana,Jobless
1,2022/04/25 12:56:07 PM GMT+1,Basit,Male,Black,Nigeria,Businessman

In [27]:
# save the records for males 
males.to_csv('./datasets/survey_males.csv', index=False)

In [30]:
survey["Hair Color"].unique()

array(['Black', nan, 'BlackBrown', 'Brown'], dtype=object)

In [39]:
import numpy as np 
survey[survey["Hair Color"] != 'Black'] 
survey[survey["Hair Color"] != 'Brown']

,Timestamp,First Name,Gender,Hair Color,Country,Occupation
0,2022/04/25 12:55:47 PM GMT+1,Samuel,Male,Black,Ghana,Jobless
1,2022/04/25 12:56:07 PM GMT+1,Basit,Male,Black,Nigeria,Businessman
2,2022/04/25 12:56:11 PM GMT+1,Ayomide,Male,Black,Nigeria,Student
3,2022/04/25 12:56:21 PM GMT+1,Bolaji,Male,Black,Nigeria,Self Employee
4,2022/04/25 12:56:21 PM GMT+1,oluwagbenga,Male,Black,nigeria,student
5,2022/04/25 12:56:22 PM GMT+1,Mike,Male,Black,Nigerian,Freelancer
6,2022/04/25 12:56:33 PM GMT+1,CHIJIOKE,Male,Black,Nigeria,Data Scientist
7,2022/04/25 12:56:42 PM GMT+1,Eze Odera,Male,Black,Nigeria,Student
8,2022/04/25 12:56:46 PM GMT+1,Oluwaponmile,Female,Black,Nigeria,Data Analyst
9,2022/04/25 12:56:47 PM GMT+1,EBERE,Male,Black,Nigeria,Financial consultant
10,2022/04/25 12:56:53 PM GMT+1,Ehinome,Male,Black,Nigeria,Petroleum Engineer
11,2022/04/25 12:57:07 PM GMT+1,Choppa,Prefer not to say,NaN,Nig,DA
12,2022/04/25 12:57:19 PM GMT+1,Chijioke,Male,Black,Nigeria,Data Scientist
13,2022/04/25 12:57:39 PM GMT+1,Adetunji,Male,Black,Nigeria,Student
14,2022/04/25 12:57:43 PM GMT+1,Viche,Male,Black,Nigeria,Snooker player
15,2022/04/25 12:57:50 PM GMT+1,Awesome,Male,BlackBrown,UAR,OAP
16,2022/04/25 12:57:52 PM GMT+1,Muhammad Abdussamad,Male,Black,Nigeria,Student
17,2022/04/25 12:58:26 PM GMT+1,Blessing,Female,Black,Nigerian,NYSC
18,2022/04/25 12:58:49 PM GMT+1,Gabriel,Male,Black,American,Senior Data Analyst
20,2022/04/25 12:59:31 PM GMT+1,Usifo,Male,Black,Nigeria,Data
21,2022/04/25 1:00:35 PM GMT+1,Sodiq,Male,Black,Nigeria,H.R Officer
23,2022/04/25 1:03:36 PM GMT+1,Matthew,Male,Black,Nigeria,Self Employed
24,2022/04/25 1:04:13 PM GMT+1,Ayomide,Male,Black,Nigeria,Student
25,2022/04/25 1:08:46 PM GMT+1,OYENIYI,Male,Black,NIGERIA,DATA ANALYST
26,2022/04/25 1:24:06 PM GMT+1,Oladayo,Male,Black,Nigeria,Data Analyst
27,2022/04/25 1:43:21 PM GMT+1,AJAYI,Male,Black,Nigeria,Public servant
28,2022/04/25 3:47:21 PM GMT+1,Chibueze,Male,Black,Nigeria,Banking
29,2022/04/25 7:24:26 PM GMT+1,ALLEN,Male,Black,Nigeria,CONTENT DEVELOPER
30,2022/04/25 7:44:50 PM GMT+1,Shileola,Male,Black,Nigeria,Data Analyst
31,2022/04/25 10:13:39 PM GMT+1,Olusegun,Male,Black,Nigeria,Teaching

In [35]:
survey

,Timestamp,First Name,Gender,Hair Color,Country,Occupation
0,2022/04/25 12:55:47 PM GMT+1,Samuel,Male,Black,Ghana,Jobless
1,2022/04/25 12:56:07 PM GMT+1,Basit,Male,Black,Nigeria,Businessman
2,2022/04/25 12:56:11 PM GMT+1,Ayomide,Male,Black,Nigeria,Student
3,2022/04/25 12:56:21 PM GMT+1,Bolaji,Male,Black,Nigeria,Self Employee
4,2022/04/25 12:56:21 PM GMT+1,oluwagbenga,Male,Black,nigeria,student
5,2022/04/25 12:56:22 PM GMT+1,Mike,Male,Black,Nigerian,Freelancer
6,2022/04/25 12:56:33 PM GMT+1,CHIJIOKE,Male,Black,Nigeria,Data Scientist
7,2022/04/25 12:56:42 PM GMT+1,Eze Odera,Male,Black,Nigeria,Student
8,2022/04/25 12:56:46 PM GMT+1,Oluwaponmile,Female,Black,Nigeria,Data Analyst
9,2022/04/25 12:56:47 PM GMT+1,EBERE,Male,Black,Nigeria,Financial consultant
10,2022/04/25 12:56:53 PM GMT+1,Ehinome,Male,Black,Nigeria,Petroleum Engineer
11,2022/04/25 12:57:07 PM GMT+1,Choppa,Prefer not to say,NaN,Nig,DA
12,2022/04/25 12:57:19 PM GMT+1,Chijioke,Male,Black,Nigeria,Data Scientist
13,2022/04/25 12:57:39 PM GMT+1,Adetunji,Male,Black,Nigeria,Student
14,2022/04/25 12:57:43 PM GMT+1,Viche,Male,Black,Nigeria,Snooker player
15,2022/04/25 12:57:50 PM GMT+1,Awesome,Male,BlackBrown,UAR,OAP
16,2022/04/25 12:57:52 PM GMT+1,Muhammad Abdussamad,Male,Black,Nigeria,Student
17,2022/04/25 12:58:26 PM GMT+1,Blessing,Female,Black,Nigerian,NYSC
18,2022/04/25 12:58:49 PM GMT+1,Gabriel,Male,Black,American,Senior Data Analyst
19,2022/04/25 12:59:29 PM GMT+1,Omotayo,Female,Brown,Nigeria,ChefT
20,2022/04/25 12:59:31 PM GMT+1,Usifo,Male,Black,Nigeria,Data
21,2022/04/25 1:00:35 PM GMT+1,Sodiq,Male,Black,Nigeria,H.R Officer
22,2022/04/25 1:01:42 PM GMT+1,Maryann,Female,Brown,Nigeria,Data Analyst
23,2022/04/25 1:03:36 PM GMT+1,Matthew,Male,Black,Nigeria,Self Employed
24,2022/04/25 1:04:13 PM GMT+1,Ayomide,Male,Black,Nigeria,Student
25,2022/04/25 1:08:46 PM GMT+1,OYENIYI,Male,Black,NIGERIA,DATA ANALYST
26,2022/04/25 1:24:06 PM GMT+1,Oladayo,Male,Black,Nigeria,Data Analyst
27,2022/04/25 1:43:21 PM GMT+1,AJAYI,Male,Black,Nigeria,Public servant
28,2022/04/25 3:47:21 PM GMT+1,Chibueze,Male,Black,Nigeria,Banking
29,2022/04/25 7:24:26 PM GMT+1,ALLEN,Male,Black,Nigeria,CONTENT DEVELOPER
30,2022/04/25 7:44:50 PM GMT+1,Shileola,Male,Black,Nigeria,Data Analyst
31,2022/04/25 10:13:39 PM GMT+1,Olusegun,Male,Black,Nigeria,Teaching

In [40]:
survey.dropna()

,Timestamp,First Name,Gender,Hair Color,Country,Occupation
0,2022/04/25 12:55:47 PM GMT+1,Samuel,Male,Black,Ghana,Jobless
1,2022/04/25 12:56:07 PM GMT+1,Basit,Male,Black,Nigeria,Businessman
2,2022/04/25 12:56:11 PM GMT+1,Ayomide,Male,Black,Nigeria,Student
3,2022/04/25 12:56:21 PM GMT+1,Bolaji,Male,Black,Nigeria,Self Employee
4,2022/04/25 12:56:21 PM GMT+1,oluwagbenga,Male,Black,nigeria,student
5,2022/04/25 12:56:22 PM GMT+1,Mike,Male,Black,Nigerian,Freelancer
6,2022/04/25 12:56:33 PM GMT+1,CHIJIOKE,Male,Black,Nigeria,Data Scientist
7,2022/04/25 12:56:42 PM GMT+1,Eze Odera,Male,Black,Nigeria,Student
8,2022/04/25 12:56:46 PM GMT+1,Oluwaponmile,Female,Black,Nigeria,Data Analyst
9,2022/04/25 12:56:47 PM GMT+1,EBERE,Male,Black,Nigeria,Financial consultant
10,2022/04/25 12:56:53 PM GMT+1,Ehinome,Male,Black,Nigeria,Petroleum Engineer
12,2022/04/25 12:57:19 PM GMT+1,Chijioke,Male,Black,Nigeria,Data Scientist
13,2022/04/25 12:57:39 PM GMT+1,Adetunji,Male,Black,Nigeria,Student
14,2022/04/25 12:57:43 PM GMT+1,Viche,Male,Black,Nigeria,Snooker player
15,2022/04/25 12:57:50 PM GMT+1,Awesome,Male,BlackBrown,UAR,OAP
16,2022/04/25 12:57:52 PM GMT+1,Muhammad Abdussamad,Male,Black,Nigeria,Student
17,2022/04/25 12:58:26 PM GMT+1,Blessing,Female,Black,Nigerian,NYSC
18,2022/04/25 12:58:49 PM GMT+1,Gabriel,Male,Black,American,Senior Data Analyst
19,2022/04/25 12:59:29 PM GMT+1,Omotayo,Female,Brown,Nigeria,ChefT
20,2022/04/25 12:59:31 PM GMT+1,Usifo,Male,Black,Nigeria,Data
21,2022/04/25 1:00:35 PM GMT+1,Sodiq,Male,Black,Nigeria,H.R Officer
22,2022/04/25 1:01:42 PM GMT+1,Maryann,Female,Brown,Nigeria,Data Analyst
23,2022/04/25 1:03:36 PM GMT+1,Matthew,Male,Black,Nigeria,Self Employed
24,2022/04/25 1:04:13 PM GMT+1,Ayomide,Male,Black,Nigeria,Student
25,2022/04/25 1:08:46 PM GMT+1,OYENIYI,Male,Black,NIGERIA,DATA ANALYST
26,2022/04/25 1:24:06 PM GMT+1,Oladayo,Male,Black,Nigeria,Data Analyst
27,2022/04/25 1:43:21 PM GMT+1,AJAYI,Male,Black,Nigeria,Public servant
28,2022/04/25 3:47:21 PM GMT+1,Chibueze,Male,Black,Nigeria,Banking
29,2022/04/25 7:24:26 PM GMT+1,ALLEN,Male,Black,Nigeria,CONTENT DEVELOPER
30,2022/04/25 7:44:50 PM GMT+1,Shileola,Male,Black,Nigeria,Data Analyst
31,2022/04/25 10:13:39 PM GMT+1,Olusegun,Male,Black,Nigeria,Teaching

In [47]:
#  replace NAN with another value 

survey["Hair Color"].fillna("Not applicable", inplace=True)

In [49]:
survey.head(3)

,Timestamp,First Name,Gender,Hair Color,Country,Occupation
0,2022/04/25 12:55:47 PM GMT+1,Samuel,Male,Black,Ghana,Jobless
1,2022/04/25 12:56:07 PM GMT+1,Basit,Male,Black,Nigeria,Businessman
2,2022/04/25 12:56:11 PM GMT+1,Ayomide,Male,Black,Nigeria,Student

In [61]:
survey['Age'] = ''

In [62]:
survey.columns

Index(['Timestamp', 'First Name', 'Gender', 'Hair Color', 'Country',
       'Occupation', 'Age'],
      dtype='object')

In [63]:
survey

,Timestamp,First Name,Gender,Hair Color,Country,Occupation,Age
0,2022/04/25 12:55:47 PM GMT+1,Samuel,Male,Black,Ghana,Jobless,
1,2022/04/25 12:56:07 PM GMT+1,Basit,Male,Black,Nigeria,Businessman,
2,2022/04/25 12:56:11 PM GMT+1,Ayomide,Male,Black,Nigeria,Student,
3,2022/04/25 12:56:21 PM GMT+1,Bolaji,Male,Black,Nigeria,Self Employee,
4,2022/04/25 12:56:21 PM GMT+1,oluwagbenga,Male,Black,nigeria,student,
5,2022/04/25 12:56:22 PM GMT+1,Mike,Male,Black,Nigerian,Freelancer,
6,2022/04/25 12:56:33 PM GMT+1,CHIJIOKE,Male,Black,Nigeria,Data Scientist,
7,2022/04/25 12:56:42 PM GMT+1,Eze Odera,Male,Black,Nigeria,Student,
8,2022/04/25 12:56:46 PM GMT+1,Oluwaponmile,Female,Black,Nigeria,Data Analyst,
9,2022/04/25 12:56:47 PM GMT+1,EBERE,Male,Black,Nigeria,Financial consultant,
10,2022/04/25 12:56:53 PM GMT+1,Ehinome,Male,Black,Nigeria,Petroleum Engineer,
11,2022/04/25 12:57:07 PM GMT+1,Choppa,Prefer not to say,Not applicable,Nig,DA,
12,2022/04/25 12:57:19 PM GMT+1,Chijioke,Male,Black,Nigeria,Data Scientist,
13,2022/04/25 12:57:39 PM GMT+1,Adetunji,Male,Black,Nigeria,Student,
14,2022/04/25 12:57:43 PM GMT+1,Viche,Male,Black,Nigeria,Snooker player,
15,2022/04/25 12:57:50 PM GMT+1,Awesome,Male,BlackBrown,UAR,OAP,
16,2022/04/25 12:57:52 PM GMT+1,Muhammad Abdussamad,Male,Black,Nigeria,Student,
17,2022/04/25 12:58:26 PM GMT+1,Blessing,Female,Black,Nigerian,NYSC,
18,2022/04/25 12:58:49 PM GMT+1,Gabriel,Male,Black,American,Senior Data Analyst,
19,2022/04/25 12:59:29 PM GMT+1,Omotayo,Female,Brown,Nigeria,ChefT,
20,2022/04/25 12:59:31 PM GMT+1,Usifo,Male,Black,Nigeria,Data,
21,2022/04/25 1:00:35 PM GMT+1,Sodiq,Male,Black,Nigeria,H.R Officer,
22,2022/04/25 1:01:42 PM GMT+1,Maryann,Female,Brown,Nigeria,Data Analyst,
23,2022/04/25 1:03:36 PM GMT+1,Matthew,Male,Black,Nigeria,Self Employed,
24,2022/04/25 1:04:13 PM GMT+1,Ayomide,Male,Black,Nigeria,Student,
25,2022/04/25 1:08:46 PM GMT+1,OYENIYI,Male,Black,NIGERIA,DATA ANALYST,
26,2022/04/25 1:24:06 PM GMT+1,Oladayo,Male,Black,Nigeria,Data Analyst,
27,2022/04/25 1:43:21 PM GMT+1,AJAYI,Male,Black,Nigeria,Public servant,
28,2022/04/25 3:47:21 PM GMT+1,Chibueze,Male,Black,Nigeria,Banking,
29,2022/04/25 7:24:26 PM GMT+1,ALLEN,Male,Black,Nigeria,CONTENT DEVELOPER,
30,2022/04/25 7:44:50 PM GMT+1,Shileola,Male,Black,Nigeria,Data Analyst,
31,2022/04/25 10:13:39 PM GMT+1,Olusegun,Male,Black,Nigeria,Teaching,